#Reviews {
  text-align: right;

  img {
    max-width: 600px;
  }

  h4 {
    font-weight: 650;
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }

  .auth {
    font-size: 1rem;
    color: $paragraphColor;
    font-weight: 300;
    text-transform: capitalize;

    strong {
      font-weight: 700;
      color: $black;
    }
  }
}
