// Grid System
$grid-columns: 12;
//breakpoint-small
$grid-max-width: 1200px;
$breakpoint-xs: "only screen and (min-width: 0px)";
$breakpoint-small: "only screen and (min-width: 451px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
//fonts
$restaurantTitleFont: 'Merriweather', serif;
$textFont: "Dosis Condensed", sans-serif;
$displayFont: "Dosis", sans-serif;
$storyFont: "PT Sans", sans-serif;
// $titleColor: #aaaaaa;
// $paragraphColor: #adadad;
// $greyBG: #f7f7f7;
// $displayFont: "Dosis";
// $footerBG: #131a22;
// $black: #20202020;
// $red: #911a20;
// $green: #4d6010;

//Color Scheme
$titleColor: #aaaaaa;
$paragraphColor: #adadad;
$greyBG: #f7f7f7;
$footerBG: #131a22;
$black: #202020;
$red: #911a20;
$green: #4d6010;
