@import "reset";
//Sass variables have to be declared at the top of the file (after reset)
@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700|Open+Sans:800,100,300,500,700");
@import "variables";
@import "grid";
@import "Header";
@import "Background";
@import "LeadImage";
@import "SeasonalMenu";
@import "QuoteGenerator";
@import "Contact";
@import "Reviews";
@import "Promotions";
@import "Reservations";
@import "Footer";
// @import "Global";
//Global scss last.

@font-face {
  font-family: road_rage;
  src: url("/fonts/Road_Rage.otf");
}

* {
  max-width: 100%;
}

html {
  width: 100%;
  height: 100%;

  body {
    font-family: $textFont;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #fff;

    #app {
      width: 100%;
      height: 100%;

      .app {
        width: 100%;
        height: 100%;
      }
    }
  }
}
