#Reviews {
	padding: 100px 0;
	text-align: right;

	.side-img {
		//position: relative;
		height: 200px;
		width: 400px;
		text-align: left;

		img {
			position: absolute;
			//max-width: 600px;
			width: 100%;
		}
	}

	h4 {
		font-weight: 600;
		font-size: 0.9rem;
		margin-bottom: 2rem;
	}
}
